{% extends "base.html" %}
{% block title %}
about
{% endblock %}

{% block  content%}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">This is the about page</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem sequi in ipsa ipsum aut dolor ducimus corrupti quibusdam veritatis. Ea molestias quas ad 
                    est sequi corrupti! Veniam odio debitis commodi, porro rerum totam minus voluptate amet eos tempora ad minima similique, aspernatur quaerat iure odit sunt quasi natus, ullam beatae veritatis maxime iusto.
                     Reprehenderit dolore necessitatibus ab impedit eos. Voluptatum quam aliquid neque nulla, atque hic placeat maiores accusamus magni? Quibusdam suscipit fugiat beatae veniam ipsa delectus deleniti. Ab soluta 
                     voluptas aspernatur commodi aliquam magni quam. Sit alias ipsa aliquam. Quia minus mollitia sint omnis quo quaerat nobis, error facere debitis provident aut eveniet, voluptate beatae soluta? Accusantium ea 
                     qui labore tenetur sint nostrum provident. Est aliquam dignissimos porro temporibus? Corrupti eveniet cumque earum, consequuntur sit est perferendis quam explicabo aliquid corporis quidem harum. Iste laudantium
                      consequuntur reprehenderit eveniet praesentium ipsum minima vero quae perferendis amet ad, provident ut dolores incidunt esse commodi aut, possimus atque facilis recusandae cupiditate repellat. Culpa natus necessitatibus <br>
                       omnis accusamus cumque doloribus nam corrupti, amet dolore eaque, eum magni reprehenderit, delectus voluptatibus libero? Aut fuga recusandae itaque voluptatibus sapiente nesciunt amet eos delectus nobis. Facilis quos alias 
                       nostrum sed error odit aperiam unde ad laboriosam sit temporibus eum repellendus eius, nam, numquam recusandae animi ab inventore. Possimus corporis vero quisquam nihil perferendis adipisci ipsa velit! Velit pariatur quasi, <br>
                        excepturi necessitatibus quo ratione repellendus iure porro sapiente nobis eius, mollitia ex ipsa. Rem perspiciatis tenetur architecto fugit accusantium asperiores. Maxime sed tempora nesciunt, dolorem aspernatur unde excepturi qui nisi, suscipit dolorum quos ducimus ut, odit quis eaque? Expedita consequatur vitae, quos deserunt fugit nobis nam deleniti provident optio, saepe fuga nisi, 
                    et non qui animi eum quae beatae reprehenderit explicabo nihil sunt reiciendis tenetur. Consequatur, natus deleniti iste expedita laboriosam non iure nulla blanditiis tempore quasi.
                </p>

            </div>
        </center>
    </div>
</div>
{% endblock %}