{% extends "base.html" %}

{% block title %}
{{product.name}}
{% endblock %}
product
{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.image.url}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{product.category}}</div>
                <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                
                <div class="mb-3">
                    {%if product.in_sale%}
                    <div class="d-flex small text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                        <div class="bi-star-fill"></div>
                    </div>
                    <span class="text-decoration-line-through">Rs-{{product.price}}</span>
                    <span>Rs-{{product.sale_price}}</span>
                    {%else%}
                    <span>Rs-{{product.price}}</span>
                    {%endif%}
                </div>
                <p class="lead">{{product.description}}</p>
                <div class="col-md-2">Quantity:</div>
                <div class="col-md-2 mb-4">
                <select class="form-select form-select-sm" id="qty-cart">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                
            </div>
                   
                    <button class="btn btn-outline-dark flex-shrink-0" type="button" value="{{product.id}}" id="add-cart">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</section>
<!-- Related items section-->
<script>
    // Check if button pressed
    $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_add' %}',
            data: {
        product_id: $('#add-cart').val(),
        product_qty: $('#qty-cart option:selected').text(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
            },
    
            success: function(json){
                //console.log(json)
                document.getElementById("cart_quantity").textContent = json.qty
                location.reload();
            },
    
            error: function(xhr, errmsg, err){
    
            }
    
    
        });
    
    
    
    })
    
    
    
    
    </script>


{% endblock %}