{% extends "base.html" %}
{% block title %}
register
{% endblock %}

{% block content %}

<br>
<section class="vh-100 gradient-custom">
    <div class="container py-4 h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class=" text-dark m-4" style="border-radius: 1rem;">
            <form action="." method='POST'>
              {% csrf_token %}
              {{form.as_p}}
              <button type="submit" class="btn btn-secondary">
                register
              </button>
            </form>
            
  
              <div>
                <p class="mb-0">Already have an account? <a href="{%url 'login'%}" class="text-dark-50 fw-bold">Log in</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}