{% extends "base.html" %}
{% block title %}
cart page
{% endblock %}
{% block content %}
{%if cart_products%}

<section class="h-100 h-custom">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
  
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="h5">Shopping cart</th>
                  <th scope="col">category</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">option</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              {%for product in cart_products%}
              <tbody>
                <tr>
                  <th scope="row">
                    <div class="d-flex align-items-center">
                      <img src="{{product.image.url}}" class="img-fluid rounded-3"
                        style="width: 120px;" alt="Book">
                      <div class="flex-column ms-4">
                        {%if product.in_sale%}
                        <p class="mb-2">{{product.name}}</p>
                        <div class="d-flex small text-warning mb-2">
                          <div class="bi-star-fill"></div>
                          &nbsp;&nbsp;Sale!!&nbsp;&nbsp;
                          <div class="bi-star-fill"></div>
                      </div>
                      {%else%}
                      <p class="mb-2">{{product.name}}</p>
                      {%endif%}
                      </div>
                    </div>
                  </th>
                  <td class="align-middle">
                    <p class="mb-0" style="font-weight: 500;">{{product.category}}</p>
                  </td>
                  <td class="align-middle">
                    <div class="d-flex flex-row">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>
  
                      <div class="col-md-2 mb-4 w-20">
                        <select class="form-select form-select-sm mt-5" id="select{{product.id}}" style="width: 100px;">
                          
                            {%for key,value in quantities.items%}
                              {%if key == product.id|slugify%}
                              <option selected>{{value}}</option>
                              {%endif%}
                            {%endfor%}
                            
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                        
                    </div>
  
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </td>
                  <td>
                    <button type="button" data-index="{{product.id}}" class="btn btn-secondary mt-5 update-cart">update</button>
                  </td>
                  <td class="align-middle">
                    {%if product.sale_price%}
                    <p class="mb-0" style="font-weight: 500;">{{product.sale_price}}</p>
                    {%else%}
                    <p class="mb-0" style="font-weight: 500;">{{product.price}}</p>
                    {%endif%}
                  </td>
                </tr>
              </tbody>
              {%endfor%}
            </table>
          </div>
  
          <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
            <div class="card-body p-4">
  
              
                <div class="col-lg-4 col-xl-3">
                  <div class="d-flex justify-content-between" style="font-weight: 500;">
                  
                    <p class="mb-2">Total amount</p>
                    <p class="mb-2">$23.49</p>
                 
                  </div>
  
                  <div class="d-flex justify-content-between" style="font-weight: 500;">
                    <p class="mb-0">Shipping</p>
                    <p class="mb-0">$2.99</p>
                  </div>
  
                  <hr class="my-4">
  
                  <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                    <p class="mb-2">Total (tax included)</p>
                    <p class="mb-2">$26.48</p>
                  </div>
  
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block btn-lg">
                    <div class="d-flex justify-content-between">
                      <span>Checkout</span>
                      <span>$26.48</span>
                    </div>
                  </button>
  
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  
  
  {%else%}
  Add items to cart the cart is currently empty!!
  <br><br><br>
  {%endif%}
  <script>
    // Update Cart
    $(document).on('click', '.update-cart', function(e){
        e.preventDefault();
        // grab the product id
        var productid = $(this).data('index');
    
        $.ajax({
        type: 'POST',
        url: '{% url 'cart_update' %}',
        data: {
          product_id: $(this).data('index'),
          product_qty: $('#select' + productid + ' option:selected').text(),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
        },
        success: function(json){
            //console.log(json)
            //document.getElementById("cart_quantity").textContent = json.qty
            location.reload();
        },
    
        error: function(xhr, errmsg, err){
    
        }
    
    
        });
    
    })
  </script>
  {% endblock %}